body {
	text-align: center;
	height: 100vh;
	overflow: hidden;
}
.input_video {
	display: none;
}
input[type=text] {
	width: 100%;
	text-align: center;
}
button {
	width: 100%;
	height: 4em;
	font-size: large;
}
.output_canvas {
	width: 100%;
}
#actions_column {
	max-height: 100vh;
	overflow: auto;
}
#ActionList {
	margin: 0;
	padding: 0;
}
#ActionList li {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 10px;
	background: #e5ff80;
	color: #000000;
	font-weight: bold;
	font-size: large;
	text-align: center;
	border-radius: 15px;
}
#cursor {
	position: absolute;
	width: 32;
	height: 32;
	z-index: 1100;
	transform: translate(-16px, -16px);
	content:url(hand_off.png);
}
#cursor.active {
	content:url(hand_on.png);
}
